<div class="calendars">
    <div id="cal1" class="calendar" ng-repeat="cal in calendars">
        <b>{{ cal.thisMonth.format("MMMM") }}</b>
        <table>
            <thead>
                <tr>
                    <th ng-repeat="day in cal.daysOfTheWeek">{{ day }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="week in cal.weeks">
                    <td ng-repeat="day in week"
                        ng-class="{ checked : isChecked(cal, day), disabled : !isInMonth(cal, day) }">
                        <div ng-click="crossOffDay( cal, day )">{{ day.format('D') }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
