<div class="range-selection">
    <ul>
        <li ng-class="{ active: range._1week }">1 Week</li>
        <li ng-class="{ active: range._1month }">1 Month</li>
        <li ng-class="{ active: range._3months }">3 Months</li>
    </ul>
</div>