<script type="text/ng-template" id="slide-out-menu">
<div class="slide-out-menu">
    <i ng-click="showMenu( $event )" class="icon-{{icon}}"></i>
    <div class="slide-content">
        <ul>
            <li ng-repeat="m in menu">
                <i class="icon-{{ m.icon }}"></i>
                <div ng-click="triggerMenu( m )">{{ m.name }}</div>
            </li>
        </ul>
    </div>
</div>
</script>