.main-container {
    border: 1px solid #ccc;
}

.calendar table {
    margin: 0px 9px;
}

.calendar thead th {
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 2px solid #111;
    font-weight: bold;
    padding:2px 0px;
}

.calendar tbody td {
    text-align: center;
    vertical-align: middle;

    border: 1px solid #ccc;
    padding:2px 0px;

    cursor: pointer;
}

.calendar tbody td div {
    width: 42px;
    height: 26px;
    line-height: 26px;
}

.calendar tbody td.checked {
    background-color: #f00;
    color: #fff;
}

.calendar tbody td.disabled {
    background-color: #eee;
    color: #999;
}

.calendar > b {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 4px;
}

li, dt, ul, ol {
    margin:0;
    padding:0;
}

.calendars.container ul {
    width:100%;
}

.range-selection li:first-child {
    border-left: 1px solid #ccc;
}

.range-selection ul {
    display: inline-block;
    margin-top: 4px;
}

.range-selection li {
    list-style: none;
    float: left;
    padding: 8px;
    width: 79px;
    text-align:center;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.range-selection li.active {
    background-color: #000;
    color: #fff;
}

/**********/
.header-bar {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.header-bar > b {
    font-size: 21px;
    margin-left: 38px;
}

.header-bar.center > b {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.header-bar .icon-arrow-left {
    font-size:24px;
    position: absolute;
    top: 5px;
    left: 3px;
}