body {
    font-family: Arial;
    font-size: 12px;
}

.none {
    display: none;
}

.translucent {
    opacity: 0;
}

.content {
    margin-top: 42px;
}

.main-container {
    /* These are the iphone 4s dimensions */
    width:  320px;
    height: 480px;

    /*
    These are the iphone 5 dimensions
        width: 320px;
        height: 568px;
    */
}

[class*='icon-'] {
    font-size: 32px;
    cursor: pointer;
}