<% layout('../layouts/default') -%>

<form method="post" action="/login">

    <h2>Login</h2>

    <div>
        <label>Username</label>
        <br/>
        <input type="text" name="username"/>
    </div>

    <div>
        <label>Password</label>
        <br/>
        <input type="text" name="password"/>
    </div>

    <button type="submit">Submit</button>

</form>

