<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/calendars.css">
</head>
<body>
<%- body -%>

<% include ../partials/calendars.ejs -%>

<script src="/js/libs/angular.js"></script>
<script src="/js/libs/moment.min.js"></script>
<script src="/js/libs/lodash.js"></script>
<script src="/js/controllers/HomeCtrl.js"></script>

</body>
</html>